@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Share Tech Mono', monospace; */

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 1rem;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bolder;
}

.uppercase {
    text-transform: uppercase;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* ----------------Top Section------------------ */

.top-section {
    /* position: relative;
    text-align: center; */
    color: black;
    overflow: hidden;
}

.hands {
    width: 100%;
    height: 850px;
    text-align: center;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

.logo {
    width: 250px;
    height: 250px;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding-left: 5px;
}

#logo {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: black;
    font-weight: 900;
}

.logo a:hover {
    text-decoration: none;
    color: black;
}

.we-are {
    padding: 100px 25%;
    font-weight: bold;
}

.we-are p {
    font-weight: bold;
    color: black;
}

.we-are h1 {
    padding-bottom: 20px;
}

.family {
    padding-top: 30px;
}

/* ------------Douglass------------------- */
.douglass {
    height: 700px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.douglass img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.douglass h1,
.douglass p {
    position: absolute;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    z-index: 1;
}

.douglass h1 {
    font-size: 4rem;
    margin-top: 100px;
    padding-top: 50px;
}

.douglass p {
    margin-top: 400px;
}

/* -------------Food Pics-------------------- */

.food-pic {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}


/*-----------------Footer-------------------*/
footer {
    background-color: rgb(23, 23, 23);
    color: #fafafa;
    height: 300px;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}


.social-links {
    margin-top: 20px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 7.5px;
    margin-left: 10px;
    font-size: 20px;
    border: solid 3px black;

    text-align: center;
    color: white;
    background-color: rgb(23, 23, 23);
}

.social-links li a i:hover {
    background-color: white;
    color: rgb(23, 23, 23);
}

#footer-details {
    padding: 20px;
}

.bottom-footer {
    margin-top: 100px;
    margin-bottom: 50px;
}

#back-to-top {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 0.15rem;
}

#design-by {
    color: grey;
    padding-top: 20px;
    padding-bottom: 50px;
    text-decoration: underline;
}