@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Share Tech Mono', monospace; */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bolder;
}

p {
    color: black;
}

/* -----------------GENERAL STYLES--------------------- */
.uppercase {
    text-transform: uppercase;
}

/* -----------------Nav Bar--------------------- */
.nav{
    width: 100%;
    background-color: rgba(0,0,0,0.3);  /* Set the transparency to 0.3 */
    overflow: hidden;
    
  }


/* -----------------Main Content--------------------- */
.top-container {
    background: url("../images/midahands.jpeg") no-repeat top center/cover;
    height: 100vh;
    position: relative;
    top: 0;
    
}

.logo {
    width: 250px;
    height: 250px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    position: absolute;
    z-index: 1;
    text-align: center;
    padding-left: 5px;
}

#logo {
    font-size: 3rem;
    letter-spacing: 0.5rem;

}

.logo a:hover {
    text-decoration: none;
    color: black;
  
}

.we-are {
    padding: 100px 25%;
    font-weight: bold;
}

.we-are p{
    font-weight: bold;
    color: black;
}


.we-are h1 {
    padding-bottom: 20px;
}

.family{
    padding-top: 30px;
}

.douglass {
    background: url("../images/douglass.jpeg" ) center center/cover;
    clip: rect(20px, 50px, 50px, 50px);
    height: 700px;
    overflow: hidden;
    /* position: relative; */
    /* object-position: 80% 80%;
    .image-container img {
        clip: rect(top, right, bottom, left); */
        /* Replace top, right, bottom, and left with the values you want */
        }



.douglass h1, 
.douglass p {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.douglass h1 {
    font-size: 4rem;
    margin-top: 200px;
}

.douglass p {
}

/* -------------Food Pics-------------------- */
/* .pic-container {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

.food-pic {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
} */

.pic-container {

}

.food-pic {
    /* max-height: 700px;
    width: 100%;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-auto-rows: 250px;
grid-auto-flow: dense;   */




padding: 0;
max-width: 1100px;
margin: 0 auto;
background: #f2f2f2;
display: grid;
grid-gap: 0;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-auto-rows: 250px;
grid-auto-flow: dense;

    width: 100%;
    height: 100%;
    object-fit: cover;
    } 